.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  .infoSide {
    animation-name: fadeLeft;
    animation-duration: 0.5s;
  }
  .imageSide {
    animation-name: fadeRight;
    animation-duration: 0.5s;
  }
}

.offerInvisible {
  opacity: 0;

  .infoSide {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .imageSide {
    opacity: 0;
    transition: all 0.5s ease;
  }
}

.infoSide {
  box-shadow: 10px 10px 0px var(--accent-blue);
  outline: 2px solid var(--accent-blue);
}

.imageSide {
  justify-self: center;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
