.offer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  .infoSide {
    animation-name: fadeRight;
    animation-duration: 0.5s;
  }
  .imageSide {
    animation-name: fadeLeft;
    animation-duration: 0.5s;
  }
}

.offerInvisible {
  opacity: 0;
  .infoSide {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .imageSide {
    opacity: 0;
    transition: all 0.5s ease;
  }
}

.infoSide {
  padding: 40px;
  min-width: 600px;
  max-width: 750px;
  box-shadow: 10px 10px 0 var(--accent-grey);
  outline: 2px solid var(--accent-grey);
  justify-self: start;
  h3 {
    font-weight: 600;
    font-size: 1.125rem; // 18px
  }
  & > * {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .brand {
    span {
      font-weight: 400;
    }
  }
  .title {
    font-size: 2.5rem; //40px
    font-weight: 700;
    letter-spacing: 0.0625rem;
    margin-bottom: 30px;
  }
  .desc {
    line-height: 1.5;
  }
  .attribute {
    margin: 20px 0;
  }
  .itemTitle {
    font-weight: 600;
    font-size: 1.125rem; // 18px
    margin: 0;
  }
  .price,
  .volume {
    font-weight: 700;
    span {
      margin-left: 10px;
      font-weight: 400;
    }
  }
  .price {
    margin-top: 40px;
  }
}

.imageSide {
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-self: center;
  img {
    height: 100%;
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 1150px) {
  .offer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-row-gap: 30px;
    padding-top: 97px;
    overflow-y: scroll;
    .infoSide {
      justify-self: center;
    }
    .imageSide {
      width: 100%;
      align-self: flex-end;
    }
  }
}

@media screen and (max-width: 600px) {
  .infoSide {
    min-width: 100%;
  }
  .imageSide {
    height: 350px;
  }
}
