.checkbox {
  margin-bottom: 10px;
  input[type='checkbox']:checked,
  input[type='checkbox']:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type='checkbox']:checked + label,
  input[type='checkbox']:not(:checked) + label {
    display: block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type='checkbox']:checked + label:before,
  input[type='checkbox']:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--second-color);
    background-color: #ffffff;
    transition: all 0.2s ease;
  }

  input[type='checkbox']:not(:disabled):not(:checked) + label:hover::before,
  input[type='checkbox']:not(:disabled):checked + label:hover::before,
  input[type='checkbox']:focus + label::before {
    border-color: var(--accent-color);
  }

  input[type='checkbox']:checked + label:after,
  input[type='checkbox']:not(:checked) + label:after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  input[type='checkbox']:not(:checked) + label:after {
    opacity: 0;
  }

  input[type='checkbox']:checked + label:after {
    opacity: 1;
  }
}
