.container {
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: 97px auto 70px;
  padding: 0 80px;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0;
  }
}
