.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;
  right: 80px;
  //overflow-y: hidden;
}

@media screen and (max-width: 1150px) {
  .container {
    left: 0;
    right: 0;
  }
}
