.productCard {
  display: grid;
  grid-template-rows: auto 107px;
  padding: 30px 25px;
  border: 1px solid var(--secondary-grey);
  border-radius: 10px;
  background-color: #fff;
  height: 100%;
  width: 100%;

  transition: all 0.2s ease;
  &:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-color: var(--accent-grey);
  }
}

.productImg {
  height: 100%;
  justify-self: center;
}

.productInfo {
}

.productTitle {
  text-align: center;
}