.productCard {
  display: grid;
  grid-template-rows: auto 107px;
  padding: 30px 23px;
  border: 2px solid var(--second-color);
  background-color: #fff;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
  &:hover {
    box-shadow: 10px 10px 0 var(--accent-color);
    border-color: var(--accent-color);
  }
}

.productImg {
  position: relative;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.productInfo {
  display: grid;
}

.productTitle {
  font-weight: 600;
  font-size: 1.5rem; //24px
  text-align: center;
  align-self: center;
}

.productPrice {
  font-weight: 400;
  font-size: 1.0625rem; //17px
  align-self: center;
}
