.itemOffer {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--second-color);
  margin-bottom: 10px;
  overflow: hidden;
  transition: all .2s ease !important;
  &:hover {
    border: 2px solid var(--accent-color);
  }
  &:last-child {
    margin-bottom: 0;
  }
  .itemHeader {
    position: relative;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    $height: 3px;
    $width: 15px;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      width: $width;
      height: $height;
      background-color: #000;
      transition: all 0.2s ease;
      cursor: pointer;
    }
    &::before {
      transform: translateY(-1px);
    }
    &::after {
      transform: translateY(-1px) rotateZ(90deg);
    }
    .itemTitle {
      background-color: #fff;
    }
  }
  .itemData {
    flex-direction: column;
    overflow-y: scroll;
    transition: transform .2s ease;
    * {
      padding: 0 10px;
    }
  }
}

.active {
  animation: slideOpen;
  animation-duration: .2s;
  .itemHeader {
    &::after {
      transform: translateY(-1px) rotateZ(0deg);
    }
  }
  .itemData {
    opacity: 1;
    max-height: 250px;
    transform: translateY(0);
  }
}

.disable {
  animation: slideClose;
  animation-duration: .2s;
  .itemHeader {
    margin-bottom: 0;
  }
  .itemData {
    opacity: 0;
    max-height: 0;
    transform: translateY(100%);
  }
}

@keyframes slideOpen {
  0% {
    max-height: 50px;
  }
  100% {
    max-height: 297px;
  }
}

@keyframes slideClose {
  0% {
    max-height: 297px;
  }
  100% {
    max-height: 50px;
  }
}
