.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #fff, $alpha: 0);
  grid-area: pagination;
}

.link {
  font-size: 1.0625rem; // 17px
  font-weight: 500;
  position: relative;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}
.active {
  color: var(--accent-color);
}
