.catalog {
  grid-column: 1;
  grid-row: 2/3;
  padding: 20px 80px;
  display: block;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  * {
    transition: all 0.2s ease;
    animation-name: fadeRight;
    animation-duration: 0.5s;
  }
}
.catalogWrapper {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-auto-rows: auto;
  grid-column-gap: min(25px);
  grid-row-gap: 25px;
  a {
    margin-bottom: 10px;
    display: block;
    height: 349px;
    width: 270px;
    box-sizing: border-box;
  }
}

.catalogInvisible {
  opacity: 0;
  transition: opacity 0.2s ease;
}

@keyframes fadeRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

// @media screen and (max-width: 1050px) {
//   .catalog {
//     top: 80px;
//   }
// }

//@media screen and (max-height: 929px), screen and (max-width: 1677px) {
//  .catalog {
//    overflow-y: scroll;
//  }
//}
