.catalog {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(2, 349px);
  grid-column-gap: 42px;
  grid-row-gap: 55px;
  justify-content: center;
  align-items: center;
  // margin-bottom: 20px;
  a {
    display: block;
    height: 349px;
    width: 270px;
  }
}

.pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

.offer {
  display: grid;
  height: 100%;
  padding-top: 6%;
  padding-bottom: 5%;
  .catalog {
    align-self: center;
    animation-name: fadeRight;
    animation-duration: 0.5s;
    // overflow: scroll;
  }
}

.offerInvisible {
  .catalog {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

@keyframes fadeRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
