.catalog {
  grid-area: content;
  display: grid;
  padding-top: 30px;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(auto-fill, 349px);
  justify-content: space-around;
  grid-column-gap: min(25px);
  grid-row-gap: 45px;
  a {
    display: block;
    height: 349px;
    width: 270px;
  }
  align-self: center;
  animation-name: fadeRight;
  animation-duration: 0.5s;
}

.catalogInvisible {
  opacity: 0;
  transition: opacity 0.2s ease;
}

@keyframes fadeRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-height: 929px), screen and (max-width: 1677px) {
  .catalog {
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--second-color);
      transition: background-color 0.3s ease;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: var(--accent-color);
      transition: background-color 0.3s ease;
    }
  }
}
