:root {
  --accent-grey: #afafaf;
  --secondary-grey: rgba(175, 175, 175, 0.6);
  --accent-blue: #628EFF;
  --secondary-blue: rgba(98, 142, 255, 0.6);
  --accent-pink: #a259ca; //#FF6275;
  --secondary-pink: rgba(162, 89, 202, 0.6); //rgba(255, 118, 118, 0.6);
}