html,
body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
p,
button {
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
}

button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--second-color);
    transition: background-color 0.3s ease;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    transition: background-color 0.3s ease;
  }
}

.maleTheme {
  --accent-color: var(--accent-blue);
  --second-color: var(--secondary-blue);
}

.femaleTheme {
  --accent-color: var(--accent-pink);
  --second-color: var(--secondary-pink);
}

.allTheme {
  --accent-color: var(--accent-grey);
  --second-color: var(--secondary-grey);
}

label {
  font-weight: 500;
}

.btn {
  height: 40px;
  width: 100%;
  border: 0;
  font-size: 0.923077rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.solidBtn {
  background-color: var(--second-color);
  color: #fff;
  &:hover {
    background-color: var(--accent-color);
  }
}

.borderBtn {
  border: solid 2px var(--second-color);
  background-color: #fff;
  color: var(--accent-color);
  &:hover {
    border-color: var(--accent-color);
  }
}
