html,
body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.maleTheme {
  --accent-color: var(--accent-blue);
  --second-color: var(--secondary-blue);
}

.femaleTheme {
  --accent-color: var(--accent-pink);
  --second-color: var(--secondary-pink);
}

.allTheme {
  --accent-color: var(--accent-grey);
  --second-color: var(--secondary-grey);
}
