:root {
  --accent-grey: #676767;
  --secondary-grey: #D1D1D1;
  --accent-blue: #628EFF;
  --secondary-blue: rgba(98, 142, 255, 0.6);
  --accent-pink: #FF6275;
  --secondary-pink: rgba(255, 118, 118, 0.6);
}